@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
}

button {
    font-family: "Poppins";
}

.landing-page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.95);
    padding: 18px 0;

    transition: transform 0.2s ease-in-out;
}
.hidden {
    transform: translateY(-100%);
}


.branding {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin-left: 45px;
}

.logo-icon {
    color: #f44;
}

.nav-menu {
    display: flex;
    gap: 40px;

}

.links {
    color:#CBD5E0;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.join-or-login {
    margin-right: 45px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.login {
    text-decoration: none;
    color:white;
    font-size: 0.8rem;
    font-weight: 500;
}

.join-now {
    font-size: 0.8rem;
    color:white;
    padding: 7.5px 16px 8px 16px;
    border-radius: 6px;
    border: none;
    background-color: #e63946;
}