<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="../Staff-Dashboard/styles.css" />
  </head>
  <body>
    <aside class="aside-nav">
      <div class="aside-header">
        <i class="fas fa-dumbbell aside-logo"></i>
        <h1 class="logo-name">Fitzone</h1>
      </div>
      <nav class="nav-menu">
        <a href="" class="home-link">
          <i class="fas fa-house nav-logo"></i>
          Home
        </a>
        <a href="" class="appointments-link">
          <i class="fa-regular fa-calendar-check nav-logo"></i>
          Appointments
        </a>
        <a href="" class="message-link">
          <i class="fa-regular fa-message nav-logo"></i>
          Messages
        </a>
        <a href="" class="membership-link">
          <i class="fa-regular fa-id-card nav-logo"></i>
          Memberships
        </a>
        <a href="" class="customers-link">
          <i class="fas fa-people-group nav-logo"></i>
          Customers
        </a>
      </nav>
      <div class="aside-footer">
        <a href="" class="logout-link">
          <i class="fa-solid fa-arrow-right-from-bracket logout-logo"></i>
          Logout
        </a>
      </div>
    </aside>

    <main>
      <header>
        <h2 class="header-title">Staff Dashboard</h2>
        <form class="search-container">
          <input class="search-input" placeholder="Search" type="text" />
          <button type="submit" name="search" class="search-button">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
          </button>
        </form>
        <div class="user-profile">
          <img
            alt="John Doe's avatar"
            class="avatar"
            src="../../Assets/customer-dashboard-assets/profile.png"
          />
          <div class="user-info">
            <p>John Doe</p>
            <p>Staff</p>
          </div>
        </div>
      </header>
    </main>

    <script
      src="https://kit.fontawesome.com/15767cca17.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
