<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="../Staff-Dashboard/styles.css" />
  </head>
  <body>
      <header>
        <h2 class="header-title">Staff Dashboard</h2>
        <form class="search-container">
          <input class="search-input" placeholder="Search" type="text" />
          <button type="submit" name="search" class="search-button">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
          </button>
        </form>
        <div class="user-profile">
          <img
            alt="John Doe's avatar"
            class="avatar"
            src="../../Assets/customer-dashboard-assets/profile.png"
          />
          <div class="user-info">
            <p>John Doe</p>
            <p>Staff</p>
          </div>
        </div>
      </header>
    <script
      src="https://kit.fontawesome.com/15767cca17.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
