@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

nav.customer-dashboard-navbar {
  position: relative;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 1.5vw;
  border-bottom: 1px solid #e5e8eb;
}

.branding {
  display: flex;
  align-items: center;
}

i.logo {
  font-size: 1.2em;
  padding-right: 0.5vw;
  color: #121417;
}

span.logo-header {
  color: #121417;
  font-size: 1.2vw;
  font-weight: 700;
}

.links-and-profile-container {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.links {
  display: flex;
  gap: 2vw;
}

.nav-link {
  color: #121417;
  font-size: 1vw;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  text-decoration: overline gray 1.5px;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

button.profile-button {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: none;
  padding: 0;
  overflow: hidden;
  background: none;
}

img.profile-img {
  width: 100%;
  height: 100;
  object-fit: cover;
}

section.dashboard-sections {
  padding: 4vw 12vw;
}

h1.headers {
  font-size: 2vw;
  font-weight: 600;
  padding-bottom: 1vw;
}

.indicator-div {
  padding-block: 1vw;
}

h2.sub-header {
  font-size: 1vw;
  font-weight: 600;
  padding-left: 0.5vw;
}

h3.section-subheader {
  font-size: 1.5vw;
  font-weight: 600;
  padding-block: 1vw;
  margin-block: 0.5vw;
}

.next-class-section,
.your-membership-section {
  display: flex;
  justify-content: space-between;
}

p.next-class-p,
p.your-membership-p {
  font-size: 1.2vw;
  font-weight: 500;
}

p.date-and-time,
p.expiry-date {
  font-size: 0.8vw;
  color: #61758a;
}

.img-container {
  width: 15vw;
  height: 10vw;
  border-radius: 1vw;
  overflow: hidden;
}

.next-class-container {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

img.next-class-img {
  width: 100%;
  object-fit: cover;
}

.membership-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.Basic-card {
  background: linear-gradient(90deg, #43c6ac 0%, #191654 100%);
}

.Basic-title {
  background: linear-gradient(90deg, #dde1e8 0%, #c2b5d9 100%);
}

.Pro-card {
  background: linear-gradient(90deg, #c04848 0%, #480048 100%);
}

.Pro-title {
  background: linear-gradient(90deg, #e1eec3 0%, #f05053 100%);
}

.Elite-card {
  background: linear-gradient(90deg, #434343 0%, #000 100%);
}

.Elite-title {
  background: linear-gradient(90deg, #bcbcbc 0%, #757575 100%);
}

h1.membership-plan {
  font-size: 2.5vw;
  font-style: italic;
  font-weight: 500;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.not {
  padding-bottom: 2vw;
}

p.recent-activity {
  font-size: 1vw;
  font-weight: 500;
}

p.activity-date {
  font-size: 0.8vw;
  color: #61758a;
  padding-bottom: 1.5vw;
}

/* Profile Menu Sidebar Styles */

.profile-menu {
  position: fixed;
  width: 25%;
  height: 35vw;
  padding: 1vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  background: rgba(255, 250, 249, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 1vw;
  backdrop-filter: blur(5px);

  right: -100%;
  transition: all 1.5s ease-in-out;
}

.show {
  right: 1%;
}

.profile-info-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img-sidebar-container {
  width: 74px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 50%;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-block: 1vw;
}
.user-id {
  color: #b2a3a3;
  margin-bottom: 1vw;
}

.links-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-block: 1vw;
}

.link-icon {
  padding: 1vw;
  border-radius: 0.5vw;
  background: #f0f2f5;
}

.highlight {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.account-settings-link,
.manage-memebership-link {
  font-size: 1vw;
  cursor: pointer;
}

.logout {
  margin-block: 1vw;
  padding: 0.8vw 1.2vw;
  background-color: #1a80e5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  border-radius: 0.8vw;
  font-size: 1vw;
  font-weight: 600;
}

/* Schedule Section Styles: Book Appointment */

.manage-schedule,
.manage-message {
  display: flex;
  gap: 2vw;
}

.manage-schedule,
.manage-message > h2 {
  cursor: pointer;
}

.clicked {
  color: #637587;
}

form.all-forms {
  display: flex;
  flex-direction: column;
  padding: 1vw auto;
}

label {
  font-size: 1vw;
  font-weight: 500;
  padding-bottom: 1vw;
}

.all-forms > select,
.all-forms > input {
  width: 35%;
  height: 2.5vw;
  font-size: 1vw;
  margin-bottom: 1.5vw;
  border-radius: 0.6vw;
  border: 1px solid #e3dede;
}

.all-forms > select {
  text-indent: 1vw;
}

.all-forms > input {
  padding: 1vw;
}

button.submit-button {
  width: 15%;
  padding: 1vw;
  border-radius: 1vw;
  background-color: transparent;
  margin-top: 1vw;
  align-self: flex-end;
  font-weight: 500;
}

/* Schedule Section Styles: Manage Appointment */

.session-log-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1vw;
  padding-bottom: 1vw;
}

.info-wrap {
  display: flex;
  align-items: center;
}

i.log-marker {
  padding: 1vw;
  background-color: #f0f2f5;
  border-radius: 8px;
  margin-right: 1.5vw;
}

p.log-header {
  font-size: 1vw;
  font-weight: 500;
}

p.log-subheader {
  align-self: stretch;
  font-size: 0.9vw;
  color: #637587;
}

button.manage {
  padding: 0.5vw 1vw;
  border-radius: 12px;
  border: none;
  font-weight: 500;
}

/* Schedule Section Styles: Edit Appointment */

section.edit {
  padding: 3vw 12vw;
}

i.back {
  font-size: 1.5vw;
  cursor: pointer;
  padding-bottom: 1vw;
}

form.edit {
  padding-block: 1vw;
}

.button-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.save-button {
  width: 15%;
  padding: 1vw;
  border-radius: 1vw;
  background-color: #f44;
  color: white;
  margin-top: 1vw;
  font-weight: 500;
  font-size: 1vw;
  border: none;
}

button.delete-button {
  width: 15%;
  padding: 1vw;
  border-radius: 1vw;
  margin-top: 1vw;
  font-weight: 500;
  border: none;
}

/* Message Section Styles: Compose */

p.message-about {
  font-size: 1vw;
  color: #637587;
  padding-bottom: 1vw;
}

#message-area {
  width: 35%;
  font-size: 1vw;
  margin-bottom: 1.5vw;
  border-radius: 0.6vw;
  border: 1px solid #e3dede;
  padding: 1vw;
}

button.message-submit {
  width: 12%;
  padding: 1vw;
  border-radius: 1vw;
  border: none;
  margin-top: 1vw;
  align-self: flex-end;

  background-color: #1a80e5;
  color: white;
  font-size: 1vw;
}

/* Message Section Styles : Inbox */

.profile-cont {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: none;
  padding: 0;
  overflow: hidden;
  background: none;
  margin-right: 1.5vw;
}

.profile-picture {
  width: 100%;
  height: 100;
  object-fit: cover;
}

.time {
  color: #637587;
}

input[type="file"] {
  height: 100%;
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 1vw;
  height: 2.2vw;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 1vw;
  transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.inbox-log {
  cursor: pointer;
}

/* Message Section Styles : Message Modal */

.message-view {
  width: 50%;
  height: 70%;
  margin: auto;
  padding: 2vw;
  border: none;
  border-radius: 1vw;
}

.message-view::backdrop {
  backdrop-filter: blur(5px);
}

.message-view:focus {
  outline: none;
}

.message-view::-webkit-scrollbar {
  display: none;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i.close-button {
  font-size: 1.5vw;
  color: #f44;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 1vw;
}

p.trainer-name {
  font-size: 1vw;
  font-weight: 500;
}

h1.topic {
  font-size: 1.5vw;
  padding-top: 2vw;
  padding-bottom: 1vw;
  text-align: center;
}

p.message-content {
  font-size: 1vw;
  font-weight: 500;
  text-align: center;
}

p.inquiry {
  padding-block: 5vw;
  text-align: center;
  color: #637587;
}

.inquiry-header {
  color: black;
}

.responded-time {
  padding-top: 1vw;
  text-align: end;
}

/* Message Reply Styles  */

.reply-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1vw;
}

.reply-form > label {
  font-size: 1vw;
  font-weight: 700;
  padding-bottom: 1vw;
}

.reply-field {
  width: 60%;
  border-radius: 0.6vw;
  border: 1px solid #e3dede;
  padding: 1vw;
}

.reply-button {
  width: 15%;
  border-radius: 1rem;
  padding: 0.5vw 1vw;
  background: transparent;
  font-size: 1vw;
  font-weight: 600;
  margin-block: 1.5vw;
}

/* Nutrition Section Styles */

.nutrition-header {
  font-size: 2vw;
  font-weight: 600;
}

.about-page {
  color: #6b7582;
  font-size: 1.2vw;
}

.featured {
  display: flex;
  align-items: center;
  padding-top: 2.5vw;
  padding-bottom: 5vw;
}

.blog-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18vw;
  width: 40%;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 2vw;
}

.blog-img {
  transform: scale(0.4);
  object-fit: cover;
}

.tag {
  color: #6b7582;
}

.title {
  text-decoration: none;
  color: black;
  font-size: 2vw;
  font-weight: 600;
  cursor: pointer;
}

.content-preview {
  width: 85%;
  color: #6b7582;
  font-size: 1.2vw;
}

.latest {
  padding-bottom: 1vw;
  font-weight: 600;
}

.articles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
}

.article-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vw;
  width: 30%;
  border-radius: 12px;

  background-color: #121417;
  overflow: hidden;
}

.article-img {
  transform: scale(0.3);
  object-fit: cover;
}

/* Article Styles*/

h1.article-h1 {
  margin: auto;
  font-size: 2.8vw;
  text-align: center;
  width: 80%;
  color: rgb(36, 36, 36);
}

h2.article-sub-headers {
  font-size: 2.2vw;
  padding-top: 1vw;
  color: rgb(36, 36, 36);
}

.para,
li {
  color: rgb(36, 36, 36);
  font-size: 1.3vw;
  line-height: 2.8vw;
}

ol,
ul {
  padding-left: 2.5vw;
}

.section-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 5%;
  border-radius: 1vw;
}

.section-img {
  border-radius: 1vw;
  height: 30vw;
}

.helper {
  padding-bottom: 1vw;
}

.written-by {
  padding-top: 2vw;
  font-size: 1vw;
  text-align: center;
}

.written-by-para {
  text-align: center;
  font-size: 1vw;
}

/* Account Settings Section Styles */

.color {
  color: #637587;
}

.settings-button {
  padding: 1vw;
  border-radius: 1vw;
  border: none;
  margin-top: 1vw;
  align-self: flex-start;
  background-color: #1a80e5;
  color: white;
  font-size: 1vw;
}

/* Manage Membership Settings Section Styles */

.membership-benefits {
  display: flex;
  gap: 1.5vw;
  margin-bottom: 3%;
}

.benefits-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  border-radius: 8px;
  border: 1px solid #dbe0e5;
  padding: 1.5vw;
}

p.benefit-info {
  font-size: 1vw;
  font-weight: 600;
}

.plans-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.plan-box {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 8px;
  border: 1px solid #dbe0e5;
  padding: 1.5vw;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-in;
}

.plan-box:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.plan-type {
  font-size: 1vw;
  align-self: flex-start;
  font-weight: 600;
}

.price {
  align-self: center;
  font-size: 2vw;
  font-weight: 700;
  margin: 1vw 0;
}

.per-month {
  font-size: 1vw;
}

.plan-form {
  display: flex;
  align-items: center;
}

.choose-plan {
  width: 100%;
  padding: 1vw;
  border: none;
  border-radius: 12px;
  background: #F0F2F5;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.choose-plan:hover{
  background-color: #000;
  color: ghostwhite;
}

.perks-list {
  list-style: square;
  margin: 1vw 0;
}

.perks {
  font-size: 1vw;
}

/* Search Styles */

.search-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 30%;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid #e2e8f0;
}

.search-input:focus {
  border: 2px solid #c53030;
}

.search-input {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border-radius: 50px;
  background-color: white;
  border: 2px solid white;
  outline: none;
}

.search-icon {
  padding-right: 1vw;
}

.search-suggestions {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 5;
  max-height: 18.75vw;
  overflow-y: auto;
  margin-block: 0.5vw;
}
.suggestion-item {
  padding: 0.75vw 1vw;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.suggestion-item:hover {
  background-color: #f7fafc;
}

.suggestion-item:hover .type{
  color: black;
  font-weight: 500;
}
.suggestion-item .type {
  font-size: 0.75vw;
  color: #a0aec0;
  background-color: #edf2f7;
  padding: 0.125vw 0.5vw;
  border-radius: 1rem;
}

.srch-highlight {
  box-shadow: rgba(9, 88, 199, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 1vw;
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
}