@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

nav.customer-dashboard-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 1.5vw;
  border-bottom: 1px solid #e5e8eb;
}

.branding {
  display: flex;
  align-items: center;
}

i.logo {
  font-size: 1.2em;
  padding-right: 0.5vw;
  color: #121417;
}

span.logo-header {
  color: #121417;
  font-size: 1.2vw;
  font-weight: 700;
}

.links-and-profile-container {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.links {
  display: flex;
  gap: 2vw;
}

.nav-link {
  color: #121417;
  font-size: 1vw;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  text-decoration: overline gray 1.5px;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

button.profile-button {
  background: none;
  border: none;
}

img.profile-img {
  width: 2.5vw;
}

section.dashboard-sections {
    padding: 4vw 12vw;
}

h1.headers {
    font-size: 2vw;
    font-weight: 600;
    padding-bottom: 1vw;
}

.indicator-div {
    padding-block: 1vw;
}

h2.sub-header {
    font-size: 1vw;
    font-weight: 600;
    padding-left: 0.5vw;
}

h3.section-subheader {
    font-size: 1.5vw;
    font-weight: 600;
    padding-block: 1vw;
}

.next-class-section, .your-membership-section{
    display: flex;
    justify-content: space-between;
}

p.next-class-p, p.your-membership-p {
    font-size: 1.2vw;
    font-weight: 500;
}

p.date-and-time, p.expiry-date {
    font-size: 0.8vw;
    color:#61758A;
}

.img-container {
    width: 15vw;
    height: 10vw;
}

img.next-class-img, img.membership-img{
    width: 100%;
    border-radius: 1vw;
    object-fit: cover;
}

p.recent-activity {
    font-size: 1vw;
    font-weight: 500;
}

p.activity-date{
    font-size: 0.8vw;
    color:#61758A;
    padding-bottom: 1.5vw;
}

/* Schedule Section Styles: Book Appointment */

.manage-schedule{
  display: flex;
  gap: 2vw;
}

.manage-schedule > h2 {
  cursor: pointer;
}

.clicked{
  color:#637587;
}

.request-class{
  margin-block: 0.5vw;
}

form.book-appointment-form{
  display: flex;
  flex-direction: column;
  padding: 1vw auto;
}

label {
  font-size: 1vw;
  font-weight: 500;
  padding-bottom: 0.5vw;
}

.book-appointment-form > select, .book-appointment-form > input {
  width: 35%;
  height: 2.5vw;
  font-size: 1vw;
  color: #9CA8B3;
  margin-bottom: 1vw;
  border-radius: 0.6vw;
  border: 1px solid #E3DEDE;
}

.book-appointment-form > select {
  text-indent: 1vw;
}

.book-appointment-form > input {
  padding: 1vw;
}

.submit-button {
  width: 15%;
  padding: 1vw;
  border-radius: 1vw;
  background-color: transparent;
  margin-top: 1vw;
  align-self: flex-end;
}

/* Schedule Section Styles: Manage Appointment */


