@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&display=swap");

/*✅ Nav bar alignment: have to overlay navbar on homepage*/
/*✅ Change Group Classes and trainers Image */
/* Login Screen back button */
/*✅ Responsiveness Update */
/*✅ hiding nav on scroll and showing logo upon hover itll show the nav 
upon click itll take us home  */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins";
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Navbar Styles */
nav.landing-page-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(26, 26, 26, 0.95);
  padding: 1.2vw 0;
  border-bottom: 1px outset rgba(255, 255, 255, 0.09);
  z-index: 1;

  transition: all 0.8s ease-in-out;
}

nav.hidden {
  transform: translateY(-100%);
}

a.pseudo-nav.show {
  opacity: 1;
}

a.pseudo-nav {
  position: fixed;
  left: 0.8%;
  color: #f44;
  z-index: 1;
  padding: 2vw;
  border-radius: 0 0 2vw 2vw;
  background: rgba(26, 26, 26, 0.751);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Mobile Navbar Styles */

.hamburger{
  display: none;
  position:fixed;
  left: 0;
  background: transparent;
  border:none;
  outline: none;
  z-index: 4;
}

.hamburger-svg {
  width: 40%;
}

.hamburger .line{
    transition: 
    Y 0.3s ease-in 0.3s, 
    rotate 0.3s ease-in,
    opacity 0s 0.3s;

    transform-origin: center;
}

.hamburger.is-active .line{
    transition: 
    Y 0.3s ease-in, 
    rotate 0.3s ease-in 0.3s,
    opacity 0s 0.3s;
    border-radius:  0s 0.3s;
    fill:#1a1a1a;
}

.hamburger.is-active :is(.top,.bottom) {
    Y:19px;
    rx: 3.5px;
    ry: 4.5px;

}

.hamburger.is-active .top{
    rotate: 45deg;
}

.hamburger.is-active .middle{
    opacity: 0;
}

.hamburger.is-active .bottom{
    rotate: -45deg;
}

.mobile-menu{
  position: fixed;
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4%;
  padding-block: 3%;

  border-radius: 0 0 1rem 1rem;
  background: rgba(255, 255, 255);

  transform: translateY(-100%);
  transition: all 0.8s ease-in-out;
  z-index: 3;
}

.m-links {
  text-align: right;
  font-size: 1.1rem;
  font-weight: 500;
  color:#1a1a1a;
  
}

.mobile-menu.is-active {
  transform: translateY(0);
}


.branding {
  display: flex;
  align-items: center;
  gap: 0.8vw;
  margin-left: 3vw;
}

i.logo-icon {
  color: #f44;
}

a.heading {
  font-size: 1.5vw;
  font-weight: 700;
  color: white;
}

.nav-menu {
  display: flex;
  gap: 2.5vw;
}

a.links {
  color: #cbd5e0;
  font-size: 1.2vw;
  font-weight: 600;
}

.links:hover {
  color: #f7fafc;
}

.join-or-login {
  margin-right: 3vw;
  display: flex;
  align-items: center;
  gap: 2vw;
}

a.login {
  text-decoration: none;
  color: white;
  font-size: 1vw;
  font-weight: 500;
}

.login:hover {
  color: #f97316;
}

a.join-now {
  font-size: 0.8vw;
  font-weight: 500;
  color: white;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  border: none;
  background-color: #e63946;
  transition: all 0.4s ease;
}

button.join-now:hover {
  background-color: #f97316;
  color: #f0ebe3;
}

/* Intro Section Styles */
section.intro-section {
  display: flex;
  background: linear-gradient(114deg, #1a1a1a 0%, #2d2d2d 100%);
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6vw 0 6vw 3.75vw;
  width: min(34vw, 90vw);
  height: min(34vw, 90vw);
  border-radius: 1.5vw;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    135deg,
    rgba(249, 115, 22, 0.2) 0%,
    rgba(249, 115, 22, 0) 100%
  );
  box-sizing: border-box;
  aspect-ratio: 1/1;
}

.intro-img {
  width: 90%;
  height: auto;
  max-width: 32vw;
  max-height: 32vw;
  border-radius: 1vw;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.intro-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2vw;
  margin-block: 7.5vw;

  padding-left: 8%;
}

h1.intro-heading {
  color: white;
  font-size: 4vw;
  font-weight: 700;
  line-height: 5.3vw;
}

.intro-heading-color {
  color: #f97316;
}

.intro-p {
  color: #d1d5db;
  font-size: 1.2vw;
  line-height: 2vw;
}

button.start-journey {
  margin-block: 2vw;
  padding: 1vw 2vw;
  border-radius: 0.8vw;
  border: none;
  background: linear-gradient(77deg, #ff6b35 0%, #ff8555 100%);

  color: white;
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

button.start-journey:hover {
  transform: scale(1.05);
}

i.arrow-icon {
  margin-left: 0.4vw;
}

.stats-group {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  margin-block: 1.2vw;
}

img.stat-icon {
  width: 2.5vw;
  margin-left: 0.5vw;
  vertical-align: middle;
}

h3.stat-main {
  display: inline;
  vertical-align: middle;
  color: white;
  font-size: 2.2vw;
  font-weight: 700;
}

p.stat-sub {
  color: #9ca3af;
  font-size: 0.8vw;
  margin-left: 0.6vw;
}

/* About Section Styles */
section.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5vw;
  background-color: #f0ebe3;
}

h1.about-header {
  font-size: 3vw;
  font-weight: 700;
  padding-top: 16px;
}

.header-color {
  color: #ff4444;
}

p.about-p {
  width: 80%;
  font-size: 1.5vw;
  margin-top: 10px;
  text-align: center;
}

.main-card-container {
  display: grid;
  grid-template-columns: repeat(3, 23.8vw);
  grid-template-rows: repeat(2, 28vw);
  gap: 100px;
  padding-top: 45px;
}

.the-about-card {
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  cursor: pointer;

  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.the-about-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s, box-shadow 0.2s;
}

.the-about-card.clicked {
  transform: rotateY(180deg);
  transition: all 0.8s ease;
}

.card-front {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 0.8vw;

  backface-visibility: hidden;
  overflow: hidden;
  z-index: 2;
}

.card-front > img {
  transform: scale(1vw);
  position: relative;
}

.card-front::after {
  width: 100%;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 70%;
  content:"Discover More ->";
  text-align: center;
  color: white;
}

.card-back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 27px;

  backface-visibility: hidden;
  transform: rotateY(180deg);
  overflow: hidden;
  z-index: 1;
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 116px;
  background-color: #242533;
  border-radius: 8px;
}

.card-back > h2 {
  text-align: center;
  font-size: 1.8vw;
  font-weight: 700;
  margin-block: 30px;
}

.card-back > p {
  text-align: center;
  font-size: 1vw;
  padding: 0 12px;
  line-height: 2vw;
}

/* Membership Section Styles */
section.membership-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1a1a1a;
  padding-block: 2vw;
}

h1.membership-header {
  margin: 0;
  font-size: 3vw;
  font-weight: 700;
  color: white;
  padding-block: 1vw;
  text-align: center;
}

span.membership-header-color {
  color: #00ff88;
}

p.membership-p {
  width: 60%;
  text-align: center;
  color: #cbd5e0;
  font-size: 1.2vw;
  line-height: 2vw;
  margin-bottom: 2vw;
}

.plan-container {
  display: flex;
  place-content: center;
  gap: 2vw;
  margin-bottom: 1vw;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  border-radius: 0.8vw;
  padding: 1.8vw 1.2vw;
  flex-shrink: 0;

  background-color: white;
  color: #1a1a1a;
  cursor: default;

  transition: all 0.4s ease-in-out;
}

.plan:hover {
  transform: scale(1.03);
}

h2.plan-header {
  font-size: 1.2vw;
  font-weight: 700;
  padding-bottom: 1vw;
}

h3.price {
  font-size: 2.2vw;
  font-weight: 700;
}

.price > span {
  color: #2d3748;
  font-size: 1vw;
}

p.plan-description {
  color: #2d3748;
  font-size: 0.8vw;
  line-height: 1.5vw;
  text-align: center;
  padding-block: 1vw;
}

.features {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 1vw;
  gap: 1.2vw;
  margin-bottom: 1.2vw;
}

.check::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #00ff88;
  font-size: 1em;
  padding-right: 1vw;
}

.check {
  color: #2d3748;
  font-size: 1.1vw;
  font-weight: 500;
}

.start-plan {
  align-self: center;
  margin-top: auto;
  padding: 6% 25%;
  border-radius: 8px;
  background-color: #1a1a1a;

  font-size: 1.1vw;
  font-weight: 600;
  color: white;

  border: none;
}

.start-plan:hover {
  background-color: #2d3748;
}

.pro > .start-plan {
  background-color: #f44;
}

.pro > .start-plan:hover {
  background-color: #e63946;
}

.policy {
  color: #a0aec0;
  font-size: 1vw;
  margin-block: 0.5vw;
}

.plan-perks {
  display: flex;
  align-items: space-between;
  gap: 1.5vw;
  font-size: 0.8vw;
  color: #a0aec0;
  margin-block: 0.3vw;
}

.pro {
  position: relative;
}

.popular::before {
  content: "\f005";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ffffff;
  font-size: 1em;
}

span.popular {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.8vw;
  font-weight: 600;
  background-color: #f44;
  color: white;
  border-radius: 0.8vw 0 1.5vw 0;
  padding: 10px;
}

/* Testimonials Section Styles */

section.testimonial-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 5vw;
}

h1.testimonial-heading {
  font-size: 3vw;
  font-weight: 700;
}

span.th-color {
  color: #f44;
}

p.testimonial-p {
  font-size: 1.3vw;
  color: #2d3748;
  padding: 1vw 0 3vw 0;
  text-align: center;
  width: 60%;
}

.testimonial-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
  width: 90%;
  margin-bottom: 4vw;
}

.testimonial-card {
  width: 100%;
  padding: 2vw;
  background-color: white;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 1vw;
}

.fa-quote-left {
  color: #f44;
  padding-bottom: 1.5vw;
  font-size: 2vw;
}

.stars {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  color: #fbbf24;
  font-size: 1.2vw;
}

p.testimonial {
  align-self: stretch;
  font-size: 1.3vw;
  font-style: italic;
  padding: 1.5vw 0 1.8vw 0;
  color: #2d3748;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-name{
  font-size: 1.4vw;
}

.achievement{
  font-size: 1.1vw;
}

span.achievement {
  padding: 0.3vw 0.5vw;
  background-color: rgba(0, 255, 136, 0.1);
  color: #00ff88;
  border-radius: 1.2vw;
}

.testimonial-cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5vw;
  width: 80%;
  border-radius: 12px;
  padding: 3vw;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
}

h2.cta-heading {
  text-align: center;
  font-size: 1.6vw;
}

p.cta-p {
  text-align: center;
  width: 70%;
  font-size: 1.2vw;
  color: #2d3748;
}

button.cta-button {
  padding: 1vw 2vw;
  border-radius: 3.5vw;
  background-color: #f44;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
  border: none;
}

/* Footer Styles */

footer.footer-section {
  background: linear-gradient(114deg, #1a1a1a 0%, #2d2d2d 100%);
  padding: 0 4vw;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  padding-block: 3vw;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.footer-logo > i {
  font-size: 1.5vw;
}

.fitness-zone-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
  width: 20%;
}

h2.info-heading {
  font-size: 1.6vw;
  color: white;
}

p.content {
  font-size: 0.8vw;
  font-weight: 500;
  color: #cbd5e0;
  line-height: 1.5vw;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.socials > img {
  width: 3vw;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  padding-right: 8%;
}

h1.heading-cu {
  font-size: 3vw;
  color: white;
  white-space: nowrap;
}

a.send-enquires {
  padding: 1vw;
  font-size: 1vw;
  font-weight: 600;
  color: white;
  background-color: #f44;
  border-radius: 0.5vw;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  font-size: 1vw;
}

h3.services-heading {
  color: white;
}

.services > span {
  color: #9ca3af;
}

.copyrights-section {
  display: flex;
  justify-content: space-between;
  font-size: 0.7vw;
  color: #cbd5e0;
  padding-block: 1.5vw;
}

.terms-and-policy {
  display: flex;
  gap: 1.5vw;
}