@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&display=swap");

/*✅ Nav bar alignment: have to overlay navbar on homepage*/
/*✅ Change Group Classes and trainers Image */
/* Login Screen back button */
/* Responsiveness Update */
/* hiding nav on scroll and showing logo upon hover itll show the nav 
upon click itll take us home  */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins";
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Navbar Styles */

nav.landing-page-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(26, 26, 26, 0.95);
  padding: 1.2rem 0;
  border-bottom: 1px outset rgba(255, 255, 255, 0.09);
  z-index: 1;

  transition: all 0.8s ease-in-out;
}

nav.hidden {
  transform: translateY(-100%);
}

a.pseudo-nav.show {
  opacity: 1;
}

a.pseudo-nav {
  position: fixed;
  left: 0.8%;
  color: #f44;
  z-index: 1;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  background: rgba(26, 26, 26, 0.751);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.branding {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-left: 3rem;
}

i.logo-icon {
  color: #f44;
}

a.heading {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
}

.nav-menu {
  display: flex;
  gap: 2.3rem;
}

a.links {
  color: #cbd5e0;
  font-size: 1rem;
  font-weight: 600;
}

.links:hover {
  color: #f7fafc;
}

.join-or-login {
  margin-right: 2.8rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

a.login {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}

.login:hover {
  color: #f97316;
}

button.join-now {
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #e63946;
  transition: all 0.4s ease;
}

button.join-now:hover {
  background-color: #f97316;
  color: #f0ebe3;
}

/* Intro Section Styles */

section.intro {
  display: flex;
  background: linear-gradient(114deg, #1a1a1a 0%, #2d2d2d 100%);
  min-height: 100dvh;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 3.75rem;
  width: 36rem;
  height: 36rem;
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    135deg,
    rgba(249, 115, 22, 0.2) 0%,
    rgba(249, 115, 22, 0) 100%
  );

  flex-shrink: 0;
}

.intro-img {
  width: 32rem;
  height: 32rem;
  border-radius: 1rem;
  object-fit: cover;
  position: relative;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-block: 7.5rem;

  padding: 0 4.5rem;
}

h1.intro-heading {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.3rem;
}

.intro-heading-color {
  color: #f97316;
}

.intro-p {
  color: #d1d5db;
  font-size: 1.2rem;
  line-height: 2rem;
}

button.start-journey {
  margin-block: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border: none;
  background: linear-gradient(77deg, #ff6b35 0%, #ff8555 100%);

  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

button.start-journey:hover {
  transform: scale(1.05);
}

i.arrow-icon {
  margin-left: 0.4rem;
}

.stats-group {
  display: flex;
  width: 34rem;
  align-items: center;
  justify-content: space-between;
  margin-block: 1.8rem;
}

img.stat-icon {
  width: 2.5rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}

h3.stat-main {
  display: inline;
  vertical-align: middle;
  color: white;
  font-size: 2.2rem;
  font-weight: 700;
}

p.stat-sub {
  color: #9ca3af;
  font-size: 0.8rem;
  margin-left: 0.6rem;
}

/* About Section Styles */

section.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5rem;
  background-color: #f0ebe3;
}

h1.about-header {
  font-size: 3rem;
  font-weight: 700;
  padding-top: 16px;
}

.header-color {
  color: #ff4444;
}

p.about-p {
  width: 80%;
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: center;
}

.main-card-container {
  display: grid;
  grid-template-columns: repeat(3, 365px);
  grid-template-rows: repeat(2, 436px);
  gap: 100px;

  padding-top: 45px;
  flex-shrink: 0;
}

.the-about-card {
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  cursor: pointer;

  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.the-about-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s, box-shadow 0.2s;
}

.the-about-card.clicked {
  transform: rotateY(180deg);
  transition: all 0.8s ease;
}

.card-front {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 12px;

  backface-visibility: hidden;
  overflow: hidden;
  z-index: 2;
}

.card-back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 27px;

  backface-visibility: hidden;
  transform: rotateY(180deg);
  overflow: hidden;
  z-index: 1;
}

.img-box {
  width: 123px;
  height: 116px;
  background-color: #242533;
  border-radius: 8px;
  padding: 36px 34px;
}

.card-back > h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-block: 30px;
}

.card-back > p {
  text-align: center;
  font-size: 1.1rem;
  padding: 0 12px;
  line-height: 2rem;
}

/* Membership Section Styles */

section.membership-section {
  /* position: relative; */
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1a1a1a;
  padding-block: 2rem;
}

h1.membership-header {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  padding-block: 1rem;
}

span.membership-header-color {
  color: #00ff88;
}

p.membership-p {
  width: 60%;
  text-align: center;
  color: #cbd5e0;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.plan-container {
  display: flex;
  place-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  border-radius: 12px;
  padding: 1.8rem 1.2rem;
  flex-shrink: 0;

  background-color: white;
  color: #1a1a1a;
  cursor: default;

  transition: all 0.4s ease-in-out;
}

.plan:hover {
  transform: scale(1.03);
}

h2.plan-header {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

h3.price {
  font-size: 2.2rem;
  font-weight: 700;
}

.price > span {
  color: #2d3748;
  font-size: 1rem;
}

p.plan-description {
  color: #2d3748;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: center;
  padding-block: 1rem;
}

.features {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 1rem;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.check::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #00ff88;
  font-size: 1em;
  padding-right: 1rem;
}

.check {
  color: #2d3748;
  font-size: 1.1rem;
  font-weight: 500;
}

.start-plan {
  align-self: center;
  margin-top: auto;
  padding: 16px 89px 15px 90px;
  border-radius: 8px;
  background-color: #1a1a1a;

  font-size: 1.1rem;
  font-weight: 600;
  color: white;

  border: none;
}

.start-plan:hover {
  background-color: #2d3748;
}

.pro > .start-plan {
  background-color: #f44;
}

.pro > .start-plan:hover {
  background-color: #e63946;
}

.policy {
  color: #a0aec0;
  font-size: 1rem;
  margin-block: 0.5rem;
}

.plan-perks {
  display: flex;
  align-items: space-between;
  gap: 1.5rem;
  font-size: 0.8rem;
  color: #a0aec0;
  margin-block: 0.3rem;
}

.pro {
  position: relative;
}

.popular::before {
  content: "\f005";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ffffff;
  font-size: 1em;
}

span.popular {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #f44;
  color: white;
  border-radius: 12px 0 20px 0;
  padding: 10px;
}

/* Testimonials Section Styles */

section.testimonial-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 5rem;
}

h1.testimonial-heading {
  font-size: 3rem;
  font-weight: 700;
}

span.th-color {
  color: #f44;
}

p.testimonial-p {
  font-size: 1.3rem;
  color: #2d3748;
  padding: 1rem 0 3rem 0;
  text-align: center;
  width: 60%;
}

.testimonial-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin-bottom: 4rem;
}

.testimonial-card {
  width: 100%;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.fa-quote-left {
  color: #f44;
  padding-bottom: 1.5rem;
  font-size: 2em;
}

.stars {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fbbf24;
  font-size: 1.2em;
}

p.testimonial {
  align-self: stretch;
  font-size: 1.3rem;
  font-style: italic;
  padding: 1.5rem 0 1.8rem 0;
  color: #2d3748;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.achievement {
  padding: 0.3rem 0.5rem;
  background-color: rgba(0, 255, 136, 0.1);
  color: #00ff88;
  border-radius: 1.2rem;
}

.testimonial-cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
  border-radius: 12px;
  padding: 3rem;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
}

h2.cta-heading {
  text-align: center;
}

p.cta-p {
  text-align: center;
  width: 70%;
  font-size: 1rem;
  color: #2d3748;
}

button.cta-button {
  padding: 1rem 2rem;
  border-radius: 3.5rem;
  background-color: #f44;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
}

/* Footer Styles */

.footer-section {
  background: linear-gradient(114deg, #1a1a1a 0%, #2d2d2d 100%);
  padding: 0 4rem;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 3rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fitness-zone-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 20%;
}

h2.info-heading {
  color: white;
}

p.content {
  font-size: 0.8rem;
  font-weight: 500;
  color: #cbd5e0;
  line-height: 1.5rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

h1.heading-cu {
  font-size: 3rem;
  color: white;
  white-space: nowrap;
}

a.send-enquires {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #f44;
  border-radius: 0.5rem;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}

h3.services-heading {
  color: white;
}

.services > span {
  color: #9ca3af;
}

.copyrights-section {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  color: #cbd5e0;
  padding-block: 1.5rem;
}

.terms-and-policy {
  display: flex;
  gap: 1.5rem;
}

/* Testing Responsiveness */

/* 4k (2560px) */

@media screen and (min-width: 2560px){
  section.intro {
    padding: 6%;
  }
}